.container{
    height: 100vh;
    widows: 100%;
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                         "menu contenido";
}

.header{
    grid-area: header;
    background-color: gray;
}

.menu{
    grid-area: menu;
    background-color: #f6f;
}

.contenido{
    grid-area: contenido;
    background-color: #d54;
}